.graph {
	.legend {
		text-align: center;

		span {
			display: inline-block;
			white-space: nowrap;
		}
	}

	.mg-line6-color { stroke: #A52A2A; }
	.mg-hover-line6-color { fill: #A52A2A; }
	.mg-line6-legend-color { color: #A52A2A; fill: #A52A2A; }

	.mg-line7-color { stroke: #00FFFF; }
	.mg-hover-line7-color { fill: #00FFFF; }
	.mg-line7-legend-color { color: #00FFFF; fill: #00FFFF; }

	.mg-line8-color { stroke: #FFD700; }
	.mg-hover-line8-color { fill: #FFD700; }
	.mg-line8-legend-color { color: #FFD700; fill: #FFD700; }
}
