.header {
	clear: both;

	.pure-menu {
		background: #2D3E50;

		ul {
			float: right;
		}

		span {
			color: #FFFFFF;
		}

		a {
			color: #FFFFFF;

			&:hover {
				background: lighten(#2D3E50, 20%);
			}
		}
	}
}

.login {
	padding-top: 2em;
	letter-spacing: inherit;

	fieldset > div {
		text-align: center;
	}
}

.pure-g {
	> div {
		padding-top: 1em;
	}
}

.graph {
	position: relative;

	button {
		position: absolute;
		top: 0.5em;
		left: 1em;
	}
}
